[Desktop Entry]
Type=Application
Name=Napari Compare Xenium MERSCOPE
Comment=Interactive viewer for Xenium and MERSCOPE SpatialData
Exec=/usr/bin/napari-compare-xenium-merscope
TryExec=/usr/bin/napari-compare-xenium-merscope
Icon=napari-compare-xenium-merscope
Terminal=false
Categories=Science;DataVisualization;Graphics;
StartupNotify=true
